// Fuentes
$font_main: 'Poppins', sans-serif;


// Tamaño de Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores

/*
$primary: #B5D43B;
$secondary: #434738; 
$black: #000;
$white: #FFFFFF;
$thirdOption: #F7F7F7;
$greenLight: #D9EF82;
$background: #252525;
*/

$primary: #0B759D;
$secondary: #1FBABF; 
$black: #000;
$white: #FFFFFF;
$thirdOption: #60D3AA;
$greenLight: #9CEE8C;
$background: #252525;

$separation: 5rem;
